/* General styles */
.separator-line {
    border: none;
    border-top: 1px solid var(--blue);
    margin-top: 8px;
    margin-bottom: 8px;
    width: 40%;
    margin-left: 0;
}

.titulo-dashboard2 {
    font-weight: bold;
    font-size: 20px;
    color: var(--blue);
}

.subtitle-dashboard {
    font-weight: bold;
    font-size: 15px;
    color: var(--blue);
}

.lista-cursos {
    font-size: 14px;
    color: var(--blue);
    list-style: disc !important;
    padding-left: 30px;
}

.fondo-dashboard-link {
    width: 48%;
    margin: 0 1%;
}

.contenedor-nombre-examen {
    background-color: var(--pearl);
    border-radius: 30px;
    text-align: left;
    width: 50%;
    color: #333;
    text-decoration: none;
    margin-left: 0;
    padding-left: 15px;
}

.contenedor-nombre-examen h5 {
    font-size: 16px;
    margin: 0;
    font-weight: bold;
}

/* General styles for options container */
.options-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
    display: flex;
    flex-direction: row; /* Display buttons horizontally */
    gap: 10px; /* Adds space between buttons */
    margin-left: 20px;
}

.options-container.show {
    max-height: 100px; /* Adjust based on expected content height */
}

/* Adjust the button style to make them smaller and side by side */
.btn-seleccion {
    margin: 0;
    font-size: 15px;
    padding: 8px 15px; /* Adjust the padding to make the buttons more compact */
    width: auto; /* Make the button width fit its content */
    flex-shrink: 0; /* Prevent the buttons from shrinking */
    margin-bottom: 10px;
}

.correcta {
    background-color: #28a745; /* Color verde */
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
}

.secondCol{
    margin-top: 30px;
}



/* Responsive adjustments */
@media (max-width: 768px) {
    .d-flex.justify-content-between {
        flex-direction: column;
    }

    .fondo-dashboard-link {
        width: 100%;
        margin-bottom: 20px;
    }
    .contenedor-nombre-examen {
        width: 100%;
    }
    .secondCol{
        margin-top: 0px;
    }
    
}
