/* General styles */
.separator-line {
    border: none;
    border-top: 1px solid var(--blue);
    margin-top: 8px;
    margin-bottom: 8px;
    width: 40%;
    margin-left: 0;
}

.titulo-dashboard2 {
    font-weight: bold;
    font-size: 20px;
    color: var(--blue);
}

.subtitle-dashboard {
    font-weight: bold;
    font-size: 15px;
    color: var(--blue);
}

.lista-cursos {
    font-size: 14px;
    color: var(--blue);
    list-style: disc !important;
    padding-left: 30px;
}

.fondo-dashboard-link {
    width: 48%;
    margin: 0 1%;
}

.contenedor-nombre-examen {
    background-color: var(--pearl);
    border-radius: 30px;
    text-align: left;
    width: 50%;
    color: #333;
    text-decoration: none;
    margin-left: 0;
    padding-left: 15px;
}

.contenedor-nombre-examen h5 {
    font-size: 16px;
    margin: 0;
    font-weight: bold;
}

/* General styles for options container */
.options-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
    display: flex;
    flex-direction: row; /* Display buttons horizontally */
    gap: 10px; /* Adds space between buttons */
    margin-left: 20px;
}

.options-container.show {
    max-height: 100px; /* Adjust based on expected content height */
}

/* Adjust the button style to make them smaller and side by side */
.btn-seleccion {
    margin: 0;
    font-size: 15px;
    padding: 8px 15px; /* Adjust the padding to make the buttons more compact */
    width: auto; /* Make the button width fit its content */
    flex-shrink: 0; /* Prevent the buttons from shrinking */
    margin-bottom: 10px;
}

/* Estilo base para las alternativas */
.option {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    margin: 0px 0;
    border-radius: 5px;
    background-color: transparent; /* Fondo transparente para toda la opción */
    cursor: default; /* Quitar la sensación de interactividad */
}

/* Sin efectos de hover */
.option:hover {
    background-color: transparent;
    border-color: transparent;
}

/* Estilo para el cuadro */
.checkmark {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    border-radius: 3px;
    font-size: 1rem;
    text-align: center;
    line-height: 20px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

/* Cuadro verde con visto para la correcta */
.correcta {
    border: 2px solid #28a745; /* Borde verde */
    background-color: #28a745; /* Fondo verde */
    color: white; /* Texto blanco */
    position: relative;
}

.correcta::after {
    content: "\2713"; /* Símbolo de visto */
    font-size: 0.6rem; /* Tamaño más pequeño para el símbolo */
    position: absolute;
    top: 50%; /* Alineación vertical */
    left: 50%; /* Alineación horizontal */
    transform: translate(-50%, -50%); /* Centrado exacto */
}

/* Para la opción incorrecta: cuadro gris sin X */
.incorrecta {
    border: 2px solid #cacaca; /* Borde gris (plomito) */
    background-color: #cacaca; /* Fondo transparente */
    color: transparent; /* No mostrar el texto */
    position: relative;
}

.incorrecta::after {
    content: ""; /* Sin símbolo, no se muestra la "X" */
}


/* Texto de las alternativas */
.option .texto {
    color: #333;
    font-size: 1rem;
}



.secondCol{
    margin-top: 30px;
}



/* Responsive adjustments */
@media (max-width: 768px) {
    .d-flex.justify-content-between {
        flex-direction: column;
    }

    .fondo-dashboard-link {
        width: 100%;
        margin-bottom: 20px;
    }
    .contenedor-nombre-examen {
        width: 100%;
    }
    .secondCol{
        margin-top: 0px;
    }
    
}
