<aside id="sidebar" class="expand"> 
    <div class="d-flex">
        <button class="toggle-btn" type="button" id="userToggleSidebarBtn">
            <i class="lni lni-menu"></i>                
        </button>
        <div class="sidebar-logo">
            <a href="#" id="userAdminLogo">Simula</a>
        </div>
    </div>
    <ul class="sidebar-nav" id="userAdminSidebarNav">
        <li class="sidebar-item" id="userAdminExamenes">
            <a href="/userDashboard" class="sidebar-link" id="userAdminExamenesLink">
                <i class="lni lni-write"></i>
                <span>Exámenes</span>
            </a>
        </li>
        <li class="sidebar-item" id="userAdminCursos">
            <a href="/userCurso" class="sidebar-link" id="userAdminCursosLink">
                <i class="lni lni-bookmark"></i>                        
                <span>Cursos</span>
            </a>
        </li>
        <li class="sidebar-item" id="userAdminAleatorio">
            <a href="/userGenerarAleatorio" class="sidebar-link" id="userAdminAleatorioLink">
                <i class="lni lni-shuffle"></i>                        
                <span>Aleatorio</span>
            </a>
        </li>
        <li class="sidebar-item" id="userAdminEstadisticas">
            <a href="/userEstadisticas" class="sidebar-link" id="userAdminEstadisticasLink">
                <i class="lni lni-stats-up"></i>                        
                <span>Estadísticas</span>
            </a>
        </li>
    </ul>
    <div class="sidebar-footer">
        <li class="sidebar-item" id="userItem">
            <a href="/userCuenta" class="sidebar-link user-btn" id="userLink">
                <span>
                    <div id="userName">Hola, <%= user.username %>!</div>
                    <div id="userEmail"><%= user.email %></div>
                </span>
            </a>
        </li>
        <!-- Enlace de logout -->
        <a href="/logout" class="sidebar-link" id="userAdminSalirLink">
            <i class="lni lni-exit"></i>
            <span>Salir</span>
        </a>
    </div>  
</aside>
