<aside id="sidebar">
    <div class="d-flex">
        <button class="toggle-btn" type="button" id="toggleSidebarBtn">
            <i class="lni lni-menu"></i>                
        </button>
        <div class="sidebar-logo">
            <a href="#" id="adminLogo">Simula</a>
        </div>
    </div>

    <ul class="sidebar-nav" id="adminSidebarNav">
        <li class="sidebar-item" id="adminExamenes">
            <a href="/examen" class="sidebar-link" id="adminExamenesLink">
                <i class="lni lni-write"></i>
                <span>Examenes</span>
            </a>
        </li>
        <li class="sidebar-item" id="adminCursos">
            <a href="/cursos" class="sidebar-link" id="adminCursosLink">
                <i class="lni lni-bookmark"></i>                        
                <span>Cursos</span>
            </a>
        </li>
        <li class="sidebar-item" id="adminEstadisticas">
            <a href="/adminEstadisticas" class="sidebar-link" id="adminEstadisticasLink">
                <i class="lni lni-stats-up"></i>                        
                <span>Estadisticas</span>
            </a>
        </li>
        <li class="sidebar-item" id="adminPreguntas">
            <a href="/verPreguntas" class="sidebar-link" id="adminPreguntasLink">
                <i class="lni lni-help"></i>                        
                <span>Preguntas</span>
            </a>
        </li>
        <li class="sidebar-item" id="adminReglas">
            <a href="/ExamReglas" class="sidebar-link" id="adminReglasLink">
                <i class="lni lni-ruler"></i>                        
                <span>Reglas</span>
            </a>
        </li>
        <li class="sidebar-item" id="adminUsuarios">
            <a href="/usuario" class="sidebar-link" id="adminUsuariosLink">
                <i class="lni lni-users"></i>                        
                <span>Usuarios</span>
            </a>
        </li>
    </ul>

    <div class="sidebar-footer">
        <li class="sidebar-item" id="userItem">
            <a href="/actualizarAdmin" class="sidebar-link user-btn" id="userLink">
                <span>
                    <div id="userName"> <%= user.username %>!</div>
                    <div id="userEmail"><%= user.email %></div>
                </span>
            </a>
        </li>
        
        <a href="/logout" class="sidebar-link" id="adminSalirLink">
            <i class="lni lni-exit"></i>
            <span>Salir</span>
        </a>
    </div>
</aside>
