<body>
    <% title = 'Editar Curso' %> <!-- Establecer el título -->
    <%- include('../partials/layoutsAdmin.ejs'); %> 

    <div class="wrapper"> 
        <%- include('../partials/sidebarAdmin.ejs'); %> 

        <div id="main-content" class="main p-3">
            <%- include('../partials/header.ejs'); %>
            <!-- contenido principal-->
            <div class="contenedor-dashboard">
                <h1 class="titulo-dashboard" id="tituloCurso">Editar Curso</h1>
                <div class="fondo-dashboard">
                    <form id="editCourseForm">
                        <div class="mb-3">
                            <label for="courseId" class="form-label">ID del Curso:</label>
                            <span id="courseId">[ID del Curso]</span> <!-- Placeholder para el ID del curso -->
                            <input type="hidden" id="courseIdHidden"> <!-- Input oculto para el ID -->
                        </div>

                        <div class="mb-3">
                            <label for="courseName" class="form-label">Nombre del Curso</label>
                            <input type="text" class="form-control" id="courseName" name="nombre_curso" placeholder="Ingrese el nombre del curso" required>
                        </div>

                        <div class="mb-3">
                            <label for="courseChannel" class="form-label">Canal</label>
                            <select class="form-select" id="courseChannel" name="canal" required>
                                <option value="" disabled selected>Seleccione el canal</option>
                                <option value="1">Canal 1</option>
                                <option value="2">Canal 2</option>
                            </select>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn1" id="saveCourseChangesBtn">Guardar cambios</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include('../partials/endPageAdmin.ejs'); %>
</body>
