<%- include('../partials/layoutsAdmin.ejs'); %> 
<body>
    <div class="wrapper">
        <%- include('../partials/sidebarUser.ejs'); %> 

        <div id="main-content" class="main p-3">
            <%- include('../partials/header.ejs'); %>

            <!-- Contenido principal -->
            <div class="contenedor-dashboard" id="dashboard-container">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h1 class="titulo-dashboard" id="tituloExamen">Selecciona y practica con los cursos de tu canal!</h1>
                    <a href="/userGenerarAleatorio" class="btn1" id="addExamBtn">Iniciar examen aleatorio</a>
                </div>

                <div class="d-flex justify-content-between" id="canales-container">
                    <!-- Contenedor para Canal 1 con clase fondo-dashboard como enlace -->
                    <a href="/userCursos" class="fondo-dashboard-link" id="canal1Link">
                        <div class="fondo-dashboard pearl p-4" id="canal1">
                            <h4 class="titulo-dashboard2" id="canal1Titulo">Canal 1</h4>
                            <hr class="separator-line" id="canal1Separator">
                            <p class="subtitle-dashboard" id="canal1Subtitulo">Ciencias de la Salud</p>
                            <ul class="lista-cursos" id="canal1Cursos">
                                <li>Razonamiento matemático</li>
                                <li>Geometría y trigonometría</li>
                                <li>Lenguaje</li>
                                <li>Biología</li>
                                <li>Razonamiento verbal</li>
                                <li>Aritmética y álgebra</li>
                                <li>Física</li>
                                <li>Química</li>
                                <li>Realidad nacional</li>
                            </ul>
                        </div>
                    </a>
                
                    <!-- Contenedor para Canal 2 con clase fondo-dashboard como enlace -->
                    <a href="/canal2" class="fondo-dashboard-link" id="canal2Link">
                        <div class="fondo-dashboard pearl p-4" id="canal2">
                            <h4 class="titulo-dashboard2" id="canal2Titulo">Canal 2</h4>
                            <hr class="separator-line" id="canal2Separator">
                            <p class="subtitle-dashboard" id="canal2Subtitulo">Ingenierías</p>
                            <ul class="lista-cursos" id="canal2Cursos">
                                <li>Razonamiento matemático</li>
                                <li>Geometría y trigonometría</li>
                                <li>Lenguaje</li>
                                <li>Lógica</li>
                                <li>Razonamiento verbal</li>
                                <li>Aritmética y álgebra</li>
                                <li>Física</li>
                                <li>Química</li>
                                <li>Realidad nacional</li>
                            </ul>
                        </div>
                    </a>
                </div>
                
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/js/index.js"></script>
    <script type="module" src="/js/genericFunctions.js"></script>
    <script src="/js/user.js"></script>
    
    
    </body>
