<div class="registro" id="registro">
    <h2 class="registro-titulo">Regístrate gratis</h2>
    <form id="registro-form">
        <div class="input-group fila-1">
            <input type="text" id="input-nombre" name="nombre" placeholder="Nombre" required>
            <input type="text" id="input-apellido" name="apellido" placeholder="Apellido" required>
        </div>
        <div class="input-group fila-2">
            <input type="email" id="input-correo" name="correo" placeholder="Correo" required>
            <input type="password" id="input-contrasena" name="contrasena" placeholder="Contraseña" required>
        </div>
        <button type="submit" id="btn-continuar" class="btn1 btn-continuar">Continuar</button>
    </form>
</div>

