<div class="registro" id="registro">
    <h2 class="registro-titulo">Regístrate gratis</h2>
    <form id="registro-form">
        <div class="input-group fila-1">
            <input type="text" id="input-nombre" name="nombre" placeholder="Nombre" required>
            <input type="text" id="input-apellido" name="apellido" placeholder="Apellido" required>
        </div>
        <div class="input-group fila-2">
            <input type="email" id="input-correo" name="correo" placeholder="Correo" required>
            <input type="password" id="input-contrasena" name="contrasena" placeholder="Contraseña" required>
        </div>
        <button type="submit" id="btn-continuar" class="btn1 btn-continuar">Continuar</button>
    </form>
</div>

<script>
    // Función para manejar el envío del formulario
    document.getElementById('registro-form').addEventListener('submit', async (event) => {
        event.preventDefault(); // Prevenir el envío tradicional del formulario
        const apellido = document.getElementById('input-apellido').value;
        const nombre = document.getElementById('input-nombre').value;
        const email = document.getElementById('input-correo').value;
        const password = document.getElementById('input-contrasena').value;

        const data = {
            nombre_completo: nombre + " " + apellido,
            email: email,
            password: password,
            user_type: 2
        };

        try {
            // Hacer la solicitud al backend
            const response = await fetch('/users/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            });

            if (response.ok) {
                const result = await response.json();
                alert('Usuario registrado con éxito, ahora inicia sesión'); 
            } else {
                throw new Error('Error al registrar el usuario');
            }
        } catch (error) {
            console.error(error);
            alert('Hubo un error al registrar el usuario');
        }
    });
</script>
